@media screen and ( max-width: 768px ) {
	.md-fg-half, 
	.md-fg-1,
	.md-fg-2,
	.md-fg-3 {
		width: 100%;
	}

	.md-v-span-1{
		padding-bottom: 100%;
	}

	.md-v-span-half{
		padding-bottom: 50%;
	}

	.md-v-span-6{
		padding-bottom: 60%;
	}

	.md-v-span-1-2{
		padding-bottom: 120%;
	}

	.md-v-span-1-5 {
		padding-bottom: 150%;
	}
	
	.md-auto-span{
		padding-bottom: 0;
	}
	.md-auto-span > .fg-content-wrapper{
		position: static;
	}

}



@media screen and ( max-width: 432px ) {
	.sm-fg-half, 
	.sm-fg-1,
	.sm-fg-2,
	.sm-fg-3 {
		width: 100%;
		float: none;
	}

	.sm-v-span-1{
		padding-bottom: 100%;
	}

	.sm-v-span-half{
		padding-bottom: 50%;
	}

	.sm-v-span-6{
		padding-bottom: 60%;
	}

	.sm-v-span-1-2{
		padding-bottom: 120%;
	}

	.sm-v-span-1-5 {
		padding-bottom: 150%;
	}

}