@font-face
  font-family: "FFDINWeb"
  src: url("./fonts/31F820_0_0.eot")
  src: url("./fonts/31F820_0_0.eot?#iefix") format("embedded-opentype"), url("./fonts/31F820_0_0.woff2") format("woff2"), url("./fonts/31F820_0_0.woff") format("woff"), url("./fonts/31F820_0_0.ttf") format("truetype")
  font-weight: normal
  font-style: normal

